<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/404.css') }}"> 
    <title>Document</title>
</head>
<body>
    <p> "Get a life (and maybe some basic cybersecurity training) before you embarrass yourself further."</p>
    <br>
    <br>
    <div>

        <img src="{{ url_for('static', filename='nikal.jpg') }}">
</div>
</body>
</html>