<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/404_1.css') }}">
<title>404 Page Not Found</title>
</head>
<body><title>Page Not Found</title>
    <img src="https://i.ibb.co/W6tgcKQ/softcodeon.gif">
    <h1 class="error-text">ಪುಟ ಕಂಡುಬಂದಿಲ್ಲ</h1>
    <div class="btn1">
    <a class="error" href="/">Go to Homepage</a>
    <a class="error conadmin"  href="https://tawk.to/chat/65e5bbfd9131ed19d974c1a2/1ho4mclmg">Contact admin</a>
    </div>
    
    
</body>
</html>
