<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <style>
        #mainFrame {
            width: 100%;
            height: 90vh;
            border: none;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                const Toast1 = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer);
                        toast.addEventListener('mouseleave', Swal.resumeTimer);
                    }
                });

                Toast1.fire({
                    icon: "{{ category }}",
                    title: "{{ message }}"
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
<h2 class="admin-panel-header">Admin Panel</h2>

<div class="admin-navigation-container">
    <div class="admin-navigation">
        <button class="nav-item" onclick="loadAllUsers()">All Users</button>
        <button class="nav-item" onclick="loadChallengeID()">Challenge ID</button>
        <button class="nav-item" onclick="loadResult()">Result {% if result_status %}  <span id="resultNotification" class="notification-dot"></span>  {% endif %}</button>
        <button class="nav-item" onclick="loadAddCoin()">Add Coin {% if add_status %}  <span id="addCoinNotification" class="notification-dot"></span>  {% endif %} </button>
        <button class="nav-item" onclick="loadWithdrawCoin()">Withdraw Coin {% if withdraw_status %}  <span id="withdrawCoinNotification" class="notification-dot"></span>  {% endif %} </button>
        <a href="https://dashboard.tawk.to/#/dashboard" target="_blank"> <button class="nav-item">Message</button></a>
        <button class="nav-item" onclick="loadSetting()">setting</button>
    </div>
</div>

<iframe name="mainFrame" id="mainFrame" src="/admin/all_user"></iframe>

<script>
    function loadAllUsers() {
        document.getElementById("mainFrame").src = "/admin/all_user";
    }

    function loadChallengeID() {
        document.getElementById("mainFrame").src = "/admin/challenge_id";
    }

    function loadResult() {
        document.getElementById("mainFrame").src = "/admin/admin_result";
    }

    function loadAddCoin() {
        document.getElementById("mainFrame").src = "/admin/add_coin";
    }

    function loadWithdrawCoin() {
        document.getElementById("mainFrame").src = "/admin/withdraw_coin";
    }

    function loadSetting() {
        document.getElementById("mainFrame").src = "/admin/setting";
    }
   
 
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var addStatus = {{ add_status | tojson | lower }}; 
    var resultStatus = {{ result_status | tojson | lower }};
    var withdrawStatus = {{ withdraw_status | tojson | lower }};
    
    if (addStatus) {
        blinkNotification("addCoinNotification");
    }
    if (resultStatus) {
        blinkNotification("resultNotification");
    }
    if (withdrawStatus) {
        blinkNotification("withdrawCoinNotification");
    }
});

function blinkNotification(notificationId) {
    var notification = document.getElementById(notificationId);
    setInterval(function() {
        notification.style.display = (notification.style.display === "none" ? "inline-block" : "none");
    }, 500); // Adjust blinking speed (in milliseconds)
}
</script>

</body>
</html>
