<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-JB6LKwhcOag20uoE0WNqRg+dROOXG5j7z/Ei+3h3Z6Lq7o8xg1LI4G+/IZwkVGYH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-JB6LKwhcOag20uoE0WNqRg+dROOXG5j7z/Ei+3h3Z6Lq7o8xg1LI4G+/IZwkVGYH" crossorigin="anonymous">

    {% block css %}  {% endblock %}
</head>
<body style="text-align: center;">
    <div id="preloader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    
    <div class="header">
        <h2 class="user-name " style="text-decoration: underline;" ><a href="/" style="color: white;">Hi! {{user['firstname']}}</a></h2>
        <button class="menu-icon" onclick="toggleMenu()">Menu ☰</button>
        <ul class="navbar-menu" id="navbarMenu">
            <li><a href="/"><button>Home</button></a></li>
            <li><a href="#"><button>Balance: {{ user['balance'] }}</button></a></li>
            <li><a href="/addcoin"><button>Add Coin</button></a></li>
            <li><a href="/withdraw"><button>Withdraw</button></a></li>
            <li><a href="/profile"><button>Profile</button></a></li>
            <li><a href="/leaderboard"><button>Leaderboard</button></a></li>
            <li><a href="/history"><button>History</button></a></li>
            <li><a href="https://tawk.to/chat/65e5bbfd9131ed19d974c1a2/1ho4mclmg"><button>Message</button></a></li>
            <li><a href="/logout"><button>Logout</button></a></li>
            <li><button class="close-btn" style="background-color: red;" onclick="toggleMenu()">Close ✖</button></li>
        </ul>
    </div>
   
<script>
  
    function toggleMenu() {
        const navbarMenu = document.getElementById('navbarMenu');
        navbarMenu.classList.toggle('show');
    }

</script>
    <div class="first-div">
        <marquee behavior="scroll" direction="left">
            <p> {{ settings['header'] }}</p>
        </marquee>
    </div>

    <div class="second-div">
        <p style="font-size: 15px; font-weight: bold;">UPI ID: <button onclick="copyUPI()" class="icon-button copy-button"><i class="fas fa-copy"></i></button></p><p id="upi_id"> {{ settings['upi_id'] }} </p>
    </div>

    <div class="third-div" >
        <a href="/dare" style="color: white;">
       <button class="mt small diagonal"> DARE</button></a>
    </div>

    <script>
        function toggleMenu() {
            var navbarMenu = document.getElementById("navbarMenu");
            navbarMenu.classList.toggle("active");
        }
    </script>
        <script>
            function copyUPI() {
                var roomCode = document.getElementById("upi_id").innerText;
                var tempTextArea = document.createElement("textarea");
                tempTextArea.value = roomCode;
                document.body.appendChild(tempTextArea);
                tempTextArea.select();
                document.execCommand("copy");
                document.body.removeChild(tempTextArea);
                
            const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
            });
            Toast.fire({
            icon: "success",
            title: "UPI ID Copied !"
            });
    
    
            }
        </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const preloader = document.getElementById('preloader');
            const loginPage = document.querySelector('.main');
    
            setTimeout(function(){
                preloader.style.display = 'none';
                loginPage.style.display = 'block';
            }, 500);
        });
    </script>

{% block content %}


{%  endblock %}


<footer class="footer"><center>
    <div class="footer-content">
        <center><p> <a  href="https://tawk.to/chat/65e5bbfd9131ed19d974c1a2/1ho4mclmg" style="color: white;">Contact Admin</a></p></center>
        <center><p class="rights"><a href="/terms" style="color: white;"> Play Ludo. All rights reserved.</a></p></center>
    </div></center>
</footer>
</body>
</html>
