<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {% block css %}  {% endblock %}
</head>
<body style="text-align: center;">
    <div id="preloader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    
    <div class="header">
        <h2 class="user-name " style="text-decoration: underline;" >Hi! {{user['firstname']}}</h2>
        <button class="menu-icon" onclick="toggleMenu()">Menu ☰</button>
        <ul class="navbar-menu" id="navbarMenu">
            <li><a href="/"><button>Home</button></a></li>
            <li><a href="#"><button>Balance: {{ user['balance'] }}</button></a></li>
            <li><a href="/addcoin"><button>Add Coin</button></a></li>
            <li><a href="/withdraw"><button>Withdraw</button></a></li>
            <li><a href="/profile"><button>Profile</button></a></li>
            <li><a href="/leaderboard"><button>Leaderboard</button></a></li>
            <li><a href="/history"><button>History</button></a></li>
            <li><a href="#"><button>Message</button></a></li>
            <li><a href="/logout"><button>Logout</button></a></li>
            <li><button class="close-btn" style="background-color: red;" onclick="toggleMenu()">Close ✖</button></li>
        </ul>
    </div>
   
<script>
  
    function toggleMenu() {
        const navbarMenu = document.getElementById('navbarMenu');
        navbarMenu.classList.toggle('show'); // Toggle the 'show' class to slide the menu in and out
    }

</script>
    <div class="first-div">
        <marquee behavior="scroll" direction="left">
            <p>Top Winners: Garvit (Money Won: 10000), Vishal (Money Won: 5000), Pratus (Money Won: 3000)</p>
        </marquee>
    </div>

    <div class="second-div">
        <p class="phone-pay-text">PhonePay: garvit@ybl</p>
    </div>

    <div class="third-div" >
        <a href="/dare" style="color: white;">
       <button class="mt small diagonal"> DARE</button></a>
    </div>

    <script>
        function toggleMenu() {
            var navbarMenu = document.getElementById("navbarMenu");
            navbarMenu.classList.toggle("active");
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const preloader = document.getElementById('preloader');
            const loginPage = document.querySelector('.main');
    
            setTimeout(function(){
                preloader.style.display = 'none';
                loginPage.style.display = 'block'; // Display login page after preloader
            }, 500); // Adjusted to 1500 milliseconds for 1.5 seconds
        });
    </script>

{% block content %}


{%  endblock %}


<footer class="footer"><center>
    <div class="footer-content">
        <center><p> <a  href="#" style="color: white;">Contact Admin @ Garvit</a></p></center>
        <center><p class="rights">Play Ludo. All rights reserved.</p></center>
    </div></center>
</footer>
</body>
</html>