<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <title>Document</title>
    <style>
        #challenge-id-table-container {
            overflow-x: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<script>
						const Toast1 = Swal.mixin({
							toast: true,
							position: "top-end",
							showConfirmButton: false,
							timer: 3000,
							timerProgressBar: true,
							didOpen: (toast) => {
								toast.addEventListener('mouseenter', Swal.stopTimer);
								toast.addEventListener('mouseleave', Swal.resumeTimer);
							}
						});
	
						Toast1.fire({
							icon: "{{ category }}",
							title: "{{ message }}"
						});
					</script>
				{% endfor %}
			{% endif %}
		{% endwith %}

<div id="challenge-id-section" >
    <div class="challenge-id-heading">
        <h3>Challange id </h3>
        <form action="/admin/search/challenge" method="POST">
        <input type="text" class="search-input" placeholder="Search" name="search">
        </form>
    </div>

    
    <div id="challenge-id-table-container" >
        
        <div id="challenge-table-container">
            <table>
                <thead>
                    <tr>
                        <th>challange id</th>
                        <th>Game type</th>
                        <th>Accept by</th>
                        <th>Coin </th>
                        <th>Winner Select</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for challenge in search %}
                    <tr>
                        <td>{{ challenge['id']}}</td>
                        <td>{{ challenge['game_type'] }}</td>
                        <td>{{ challenge['first_user'] }} V/S {{challenge['second_user'] }}</td>
                        <td>{{ challenge['coins'] }}</td>
                        <td>{{ challenge['winner'] }}</td>
                        <td>
                            <form action="/admin/challenge_id" method="POST">
                                <input type="hidden" name="challenge_id" value="{{ challenge['id'] }}">
                                <button class="del-btn" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
    </div>
</div>

</body>
</html>
