{% extends "base.html" %}
{% block title %}
    dashboard
{% endblock %}
{% block css %} <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/coin.css') }}"> {% endblock %}
  {% block content %}

<div class="payment-heading">
    <p>Payment at: garvit@ybl</p>
</div>

<div class="form-container">
    <form action="/addcoin" method="POST">
    <h2 class="heading">Add Coin</h2>
    <div class="form-group">
        {% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						<ul>
						{% for category, message in messages %}
							<li class="{{ category }}">{{ message }}</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% endwith %}
        <label for="coins">Enter Coins:</label>
        <input type="number" id="coins" name="coins" min="30" placeholder="Minimum 30 coins" required>
    </div>
    <div class="form-group">
        <label for="source">From:</label>
        <select id="source" name="source" required>
            <option value="phone_pay">Phone Pay</option>
            <option value="google_pay">Google Pay</option>
            <option value="paytm">Paytm</option>
        </select>
    </div>
    <div class="form-group">
        <label for="utr">UTR of Transaction:</label>
        <input type="text" id="utr" name="utr" placeholder="Enter UTR" required>
    </div>
    <div class="form-group">
        <button type="submit" class="add-button">Add</button>
    </div>
    <div class="pay-by-qr">
        <a href="qr_payment.html">Pay by QR Code</a>
    </div>
    </form>
</div>
{% endblock %} 
