{% extends "base.html" %}
{% block title %}
    DARE
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dare.css') }}">
{% endblock %}
{% block content %}
    <div class="outer-container">
        <div class="game-container">
            <h2 class="game-heading">Create Game</h2> 
            <form action="/create-challenge" method="POST">
                <div class="input-container">
                    <label for="game-select" class="input-label">Select Game:</label><br>
                    <select id="game-select" name="game-select" class="select-input">
                        <option value="Ludo">Ludo</option>
                        <option value="Free Fire">Free Fire </option>
                        <option value="Snaker and Ladder">Snake and ladder </option>
                    </select>
                </div>
                <div class="input-container">
                    <h2> COINS</h2>
                    <input type="number" id="coin-input" name="coin" class="coin-input" min="30" max="100000" placeholder="Minimum 30 coins">
                </div>
                <button id="create-button" class="create-button" type="submit">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
