{% extends "base.html" %}
{% block title %}
    dashboard
{% endblock %}
{% block css %}    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}"> 
{% endblock %} 
{% block content%}
<div class="container">
    <div class="box">
        <h2>Ludo</h2>
        <p>Name: Garvit</p>
        <p> Win: 1000</p>
    
    </div>
    <div class="box">
        <h2>Free Fire</h2>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>



    
   {% endblock%}

                                                                                                                    
