{% extends "base.html" %}
{% block title %}
    history
{% endblock %}
{% block css %} <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/history.css') }}"> {% endblock %}
  {% block content %}
<body>
  <div class="container">
    <div class="button-container"><center>
      <button class="play-button">Play</button>
      <button class="transaction-button">Transaction</button>
    </center></div>
  </div>
  <div class="table-container">
    <div class="table-wrapper">
      <div class="table-container">
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Game</th>
                <th>Entry coin</th>
                <th>Dare by</th>
                <th>Accepted by</th>
                <th>Room Id</th>
                <th>Winner</th>
                <th>Winning Amount</th>

              </tr>
            </thead>
            <tbody>
              {% for match in challenges %}
              <tr>
                <td>{{ match['game_type'] }}</td>
                <td>{{ match['coins'] }}</td>
                <td>{{ match['first_user'] }}</td>
                <td>{{ match['second_user'] }}</td>
                <td>{{ match['room_code'] }}</td>
                <td>{{ match['winner'] }}</td>
                <td>{{ match['winnning_amount'] }}</td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
          
        </div>
      </div>
      
      
    </div>
  </div>
  
  
  
  {% endblock %} 