{% extends "base.html" %}
{% block title %}
    dashboard
{% endblock %}
{% block css %} <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leaderboard.css') }}"> {% endblock %}
  {% block content %}

<div class="leaderboard-container">
  <div class="leaderboard-heading">
    <h2>Leaderboard</h2> 
    <div class="monthly-win-container">
      <h1 class="monthly-win-heading">Monthly Win: 0</h1>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th style="color: azure;">Name</th>
        <th style="color: white;">Win</th>
      </tr>
    </thead>
    <tbody>
      {% for user in challenges %}
      <tr>
        <td>{{ user[1] }}</td>
        <td>{{ user[8] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
