<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>log in </title>
	<link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/login.css') }}"> 
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="LOGin">
				<form>
					<label for="chk" aria-hidden="true" class="logme" style="color: black";>Login</label>
					<input type="tel" name="tel" placeholder="Phone Number "  required="" minlength="10" maxlength="10">
					<input  class="form-control"   id="contact"   name="pswd" type="text"  minlength="6" placeholder="Password" />
					<div class="forget" ><a> Forget Password?</a></div>
					<button>Login</button>
				</form>
			</div>

			<div class="SIGNup">
				<form>
					<label  class="heads"  for="chk" aria-hidden="true">Signup</label>
					<div class="otp">
						
					<input type="tel" name="email" placeholder="Phone Number" required="" minlength="10" maxlength="10">
					<button>Get Otp</button>
					</div>
					
						<div class="verify">
							<input type="tel" name="otp" placeholder="Enter OTP" required="">
							<button class="bt">Verify</button>
						</div>
						<div class="create">
							<input type="text" name="pswd" placeholder="Create password" required="" minlength="6">  
						</div>
					<button  class="upsign" >Signup</button>
				</form>
			</div>
		</div>
</body>
</html>