<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<script>
						const Toast1 = Swal.mixin({
							toast: true,
							position: "top-end",
							showConfirmButton: false,
							timer: 3000,
							timerProgressBar: true,
							didOpen: (toast) => {
								toast.addEventListener('mouseenter', Swal.stopTimer);
								toast.addEventListener('mouseleave', Swal.resumeTimer);
							}
						});
	
						Toast1.fire({
							icon: "{{ category }}",
							title: "{{ message }}"
						});
					</script>
				{% endfor %}
			{% endif %}
		{% endwith %}
    <center><h4>Current Upi id : {{ settings['upi_id'] }}</h4></center>
    <div class="inputphonepay">
		<form action="/admin/setting" method="POST">
			<input type="text" class="holder" name="upi_id" placeholder="UPI ID" required="">
            <button class="phonepayedit" type="submit">changee?</button>
        </form>
        
	</div>
	<center><h4>Current {{ settings['social'] }} : {{ settings['telegram_id'] }}</h4></center>
	<div class="inputphonepay">
		<form action="/admin/setting/telegram_id" method="POST">
			<input type="text" class="holder" name="telegram_id" placeholder="Telegram : Telegram ID" required="">
            <button class="phonepayedit" type="submit">changee?</button>
        </form>
        
	</div>
<form action="/admin/setting/qr" method="POST" enctype="multipart/form-data">
<div class="qrcode">
    <input type="file" class="holder" name="qrcode" accept="image/*" placeholder="qrcode" required><br><br>
    <button type="submit" class="qr">chaange</button><p style="margin-left: 4px;">Qrcode </p>
</div>
</form>
<div style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
    <img src="https://gamemates.in/upload/{{settings['qr_code']}}" height="100px"/>
</div>

<div class="inputphonepay">
	<h3>
		Change Chat Buttons: 
	</h3>
	<form action="/admin/setting/button" method="POST">
		<input type="text" class="holder" name="button1" placeholder="Button 1" required="">
		<input type="text" class="holder" name="button2" placeholder="Button 2" required="">
		<input type="text" class="holder" name="button3" placeholder="Button 3" required="">
		<button class="phonepayedit" type="submit">changee?</button>
	</form>
</div>

<div class="inputphonepay">
	<h3>
		Change Header Scroll : 
	</h3>
	<form action="/admin/setting/header" method="POST">
		<input type="text" class="holder" name="header" placeholder="Header Value" required="">
		<button class="phonepayedit" type="submit">changee?</button>
	</form>
</div>

<div class="inputphonepay">
	<h3> Change Dashboard Background image </h3>
	<form action="/admin/setting/change_background" method="POST" enctype="multipart/form-data">
		<div class="qrcode">
			<input type="file" class="holder" name="bg_image" accept="image/*" placeholder="qrcode" required><br><br>
			<button type="submit" class="qr">chaange</button><p style="margin-left: 4px;">Background Image </p>
		</div>
	</form>

</div>

<div class="inputphonepay">
    <h3>Delete OLD DATA :</h3>
    <form id="deleteForm" action="/delete_old_challenges" method="POST">
        <button id="deleteButton" class="phonepayedit" type="submit">Delete</button>
    </form>
</div>
<script>
    document.getElementById("deleteButton").addEventListener("click", function(event) {
        event.preventDefault();
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("deleteForm").submit();
            }
        });
    });
</script>


</body>
</html>
