<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="inputphonepay">
    <input type="text" class="holder"  placeholder="phone pay" required="">
    <button class="phonepayedit">changee?</button>
</div>
<div class="qrcode">
    <input type="file" class="holder"  placeholder="qrcode" required="">
    <button class="qr">chaange</button><p style="margin-left: 4px;">Qrcode </p>
</div>
</body>
</html>