<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>   
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <title>Withdraw Coin</title>
    <style>
        #withdraw-coin-table-container {
            overflow-x: auto; 
            max-width: 100%;
        }
    </style>
</head>
<body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                const Toast1 = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer);
                        toast.addEventListener('mouseleave', Swal.resumeTimer);
                    }
                });

                Toast1.fire({
                    icon: "{{ category }}",
                    title: "{{ message }}"
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
<div id="withdraw-coin-section">
    <div class="withdraw-coin-heading">
        <h3>Withdraw Coin</h3>
        <form action="/admin/search/withdraw" method="POST">
            <input type="text" name="search" class="search-input" placeholder="Search">
        </form>
    </div>

    <div id="withdraw-coin-table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Payment Method</th>
                    <th>Coin Amount</th>
                    <th>UPI ID</th>
                    <th>Date and Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for result in search %}
                <tr>
                    <td>{{ result['id'] }}</td>
                    <td>{{ result['username'] }}</td>
                    <td>{{ result['transaction_type'] }}</td>
                    <td>{{ result['amount'] }}</td>
                    <td>{{ result['number'] }}</td>
                    <td>{{ result['transaction_date'] }}</td>
                    <td>
                        {% if result['status'] == 'open' %}
                        <form action="/admin/withdraw_coin" method="POST">
                            <input type="hidden" name="id" value="{{ result['id'] }}">
                            <input type="hidden" name="username" value="{{ result['username'] }}">
                            <input type="hidden" name="amount" value="{{ result['amount'] }}">
                            <button class="ap-btn" name="button" value="approved" type="submit">Approve</button>
                            <button class="den-btn" name="button" value="denied" type="submit">Reject</button>
                        </form>
                        {% elif result['status'] == 'approved' %}
                        <button class="ap-btn">Approved</button>
                        {% elif result['status'] == 'denied' %}
                        <button class="den-btn">Denied</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}                 
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
