body{
    background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
}
    p {
    text-decoration: underline;
    font-size: 24px; /* Reduced font size for smaller screens */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px; /* Reduced top margin */
    margin-left: 10px; /* Reduced left margin */
    margin-right: 10px; /* Reduced right margin */
}

img {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevents images from overlapping with other elements */
    margin: 0 auto;
    z-index: 1000; /* Center the image horizontally */
}

@media (min-width: 600px) {
    p {
       
        
        font-size: 40px; /* Larger font size for larger screens */
        margin-top: 35px; /* Restore original top margin */
        margin-left: 20px; /* Restore original left margin */
        margin-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: 800px; /* Set the desired width for larger screens */
    }
   

}

