/* Base styles */
body {
  align-items: center;
  background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
}
BODY{
  background-image: url("/static/bg.jpg");
      background-size: fixed;
  }

.leaderboard-container {
  max-width: 500px;
  margin: 50px auto 0 auto;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 40px;
 
 background-color: rgb(255, 236, 236);
}

.leaderboard-heading {

  align-items: center;
}

.leaderboard-heading h2 {

  font-size: 24px;
  color: black;
}

.monthly-win-container {
  text-align: center;
}

.monthly-win-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}

th, td {
  border: 3px solid #ddd;
  padding: 12px;
  text-align: center;

}

th {
  background-color: black;
}

/* Media queries for responsive design */
@media only screen and (max-width: 600px) {
  .leaderboard-container{
    max-width: 85%;
  }
}
