body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #403d5a, #302b63, #24243e);
	background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
	
}
.main{
	width: 400px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #785f5f;
}
.LOGin{
	position: relative;
	width:100%;
	height: 100%;
		
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin-top: 10px;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	margin-top: 10px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.LOGin button{
	text-align: center;
}
.LOGin {
	margin-top: -60px;
    padding-top: 50px;
    padding-bottom: 120px;
	
	background-color: #9000ffdb;
	height: 400px;
    align-items: center;
}
.upsign {
    background-color: rgb(51, 44, 44);
    color: white;
    padding: 8px 14px; /* Adjust padding to your liking */
    font-size: 16px; /* Optionally, adjust font size */
    width: auto;
	align-items: center;
	text-align: center;
	background-color: green;
}
.create input[type="text"] {
    width: 180px;
	height: 7px; /* Increase the width of the input field */
    padding: 15px; /* Increase the padding for more space inside the input field */
    
    border-radius: 5px;
    font-size: 16px;
    outline: none;
	
	
	
}
